//table
table {
    border-collapse: collapse;
    width: 100%;

    .action {
        text-align: center;
    }

    .fa-plus {
        font-size: 20px;
        color: #007bff;
        ;
        cursor: pointer;
    }

    .fa-pencil-square-o {
        font-size: 20px;
        color:#00000078;
        cursor: pointer;
    }

    .fa-trash {
        font-size: 20px;
        color: #00000078;
        cursor: pointer;
    }

    .editIcon,
    .deleteIcon,
    .addIcon {
        text-align: center;
    }

    .editIcon i:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    .deleteIcon i:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    th,
    td {
        // border: 1px solid #ddd;
        padding: 0px 4px 0px 4px;
        font-size: 12px;
    }

    th {
        font-weight: 500;
        background-color:#80808021 !important;
        
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .pending-status {
        color: red;
    }

}

@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
    }
}

.smallContainer {
    display: flex;
    margin: -30px 0px 17px 0px;
    justify-content: space-between;

    .opennewPopup {
        display: flex;
        justify-content: flex-end !important;
        align-items: center;
    }
}

.customer-popup {
    // height: 45px;
}

.List-of-Talukas {
    display: flex;
    justify-content: flex-start;
}

.Talukas {
    font-size: x-large;
    color: black;
}