@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

.header-box {

    margin-bottom: 40px;

}

.fa-angle-double-left {
    @media (max-width: 768px) {
        display: none;
    }
}

.radio-box {
    @include flex-row;
    margin-bottom: 17px;

    @media (max-width: 768px) {
        @include flex-row;
    }
}

.formContainer {
    @include flex-column;
    margin-top: 15px;

    .ltSide {


        @media (max-width: 768px) {
            padding: 0 !important;
        }
    }

    .RtSide {

        .status-inactive {
            color: #f44336;
        }

        .status-active {
            color: #3f51b5;
        }

        @include flex-row;

        .first {
            color: black;
        }

        @media (max-width: 768px) {
            padding: 0 !important;
        }
    }


    @media (max-width: 768px) {
        @include flex-column;
    }
}

.button-mainContainer {
    @include flex-row;

    .goBack-container {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .submit-container {
        display: flex;
        justify-content: center;
        padding-right: 10px;
    }

    .reset-container {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
    }
}

.modal-header {
    .close {
        .crossIcon {
            font-size: 20px;
        }
    }
}

.modal-body {
    max-height: 450px;
    overflow-y: auto;
    padding: 18px;
}

::ng-deep .mdc-dialog__actions {
    padding: 0px 24px 10px 24px;
    float: right;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch:enabled+.mdc-label {
    padding: 0px 0px 0px 6px;
    top: 3px;
    position: relative;
}