@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

.header-box {

    margin-bottom: 40px;

}

.fa-angle-double-left {
    @media (max-width: 768px) {
        display: none;
    }
}

.radio-box {
    @include flex-row;
    margin-bottom: 17px;

    @media (max-width: 768px) {
        @include flex-row;
    }
}

.dimention {
    margin-top: -20px !important;
}
.dimentions {
    margin-top: -10px !important;
}
.other-item-selected{
    margin-top: 10px !important;
}
.formContainer {
    @include flex-row;
    margin-top: 15px;

    .ltSide {


        @media (max-width: 768px) {
            padding: 0 !important;
        }
    }

    .RtSide {

        .status-inactive {
            color: #f44336;
        }

        .status-active {
            color: #3f51b5;
        }

        @include flex-row;

        .first {
            color: black;
        }

        @media (max-width: 768px) {
            padding: 0 !important;
        }
    }


    @media (max-width: 768px) {
        @include flex-column;
    }
}

.col-md-4 {

    padding-right: 5px;
}

.formContainers {

    display: flex;
    flex-direction: row;

    .form-group {
        .matCard {
            @include flex-row;

            .radioPosition {
                display: flex;
                align-items: center;
            }
        }
    }

    .quotation-field {
        padding: 0px 5px 0px 5px;
        border: 1px solid rgba(0, 0, 0, 0.281);
        border-radius: 10px;
    }

    .ltSide {
        padding-right: 5px;
    }

    .RtSide {
        padding-left: 5px;
    }


    @media (max-width: 768px) {
        @include flex-column;
    }

    .box-cont {
        display: flex;

        flex-direction: column;

        .first-box {
            @include flex-row;
        }

        .second-box {
            @include flex-row;
        }
    }

    @media (max-width: 768px) {
        @include flex-column;
    }
}

.button-mainContainer {
    @include flex-row;

    .goBack-container {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .submit-container {
        display: flex;
        justify-content: center;
        padding-right: 10px;
    }

    .reset-container {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
    }
}

.modal-header {
    .close {
        .crossIcon {
            font-size: 20px;
        }
    }
}

.modal-body {
    max-height: 450px;
    overflow-y: auto;
    padding: 18px;
}

::ng-deep .mdc-dialog__actions {
    padding: 0px 24px 10px 24px;
    float: right;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch:enabled+.mdc-label {
    padding: 0px 0px 0px 6px;
    top: 3px;
    position: relative;
}

:host ::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
    font-size: 12px !important;
}

::ng-deep .mdc-notched-outline {
    height: 84% !important;
}

::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 55% !important;
    padding-bottom: 5px;
    font-size: 14px !important;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 11px;
    padding-bottom: 0px;
    font-size: 14px !important;
}

::ng-deep .mat-select-panel .mat-option-text {
    font-size: 12px; /* Adjust the size as needed */
  }