@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.last-row td {
  border-bottom: none;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
.table-bordered {
  margin-top: 20px;

  .serviceName{
    font-size: 14px;
  }
  .row-style {
    height: 70px;

    .logo-img-container {
      display: flex;
      align-items: center;

      .logo-img {
        width: 100%;
        height: 29px;
      }
    }

    .address-info-header {
      font-size: 24px;
    }

    .address-info {
      font-weight: 500;
    }

    .contact-info {
      font-weight: 500;

      .contact-no {
        font-weight: 600;
      }
    }
  }
}

.button-mainContainer {
  @include flex-row;

  button {
    display: flex;
  }

  .goBack-container {
    display: flex;
    justify-content: flex-end;
    // padding-right: 10px;
  }

  .submit-container {
    display: flex;
    justify-content: center;
    // padding-right: 10px;
  }

  .reset-container {
    display: flex;
    justify-content: flex-start;
    // padding-left: 10px;
  }
}

.header-Quotation {
  display: flex;
  flex-direction: row;


  .headers-box {
    .headers {
      font-size: 20px;
      // margin-top: -50px;
      color: #222;
      font-weight: 600;
    }
  }

  .Icon-Box {
    display: flex;
    justify-content: flex-end;

    .cross-Icon {
      cursor: pointer;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #00000096;
}

.text-position {
  text-align: left;
}

.empty-row {
  border: none !important;
}

// .Sr.No,
// .HSN,
// .Quantity,
// .Price {
//   width: 8;
// }

// .Description {
//   width: 40%;
// }

// .GST {
//   width: 20%;
// }

// .Amount {
//   width: 8%;
// }

.tatal-amount {
  background-color: #EFEFEF;
}

@media print {
  .table-container {
    width: 100%;
  }

  .printable {
    width: 100% !important;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
  }


  #printable-area {
    margin: 10px !important;
  }

  .table tfoot {
    display: table-footer-group !important;
    page-break-inside: avoid;
  }

  table {
    width: 100% !important;
    margin: 0px !important;
  }

  .header-Quotation,
  .button-mainContainer {
    display: none !important;
  }

  @page {
    /* Adjust margin for the first page to accommodate the header */
    margin-top: 1cm;
    height: 800px !important;
  }
}