//------------------------search box-------------------
::ng-deep .mat-mdc-form-field-focus-overlay {
    background-color: #fff !important;
}

::ng-deep .mat-mdc-form-field-flex {
    height: 47px !important;
}

::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    cursor: inherit;
    font-size: 14px;
    padding: 0px 5px 5px 0px !important;
}

.download-file {
    margin-top: 20px !important;
    display: flex;
    justify-content: flex-end;

    .cont-pagination {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 25px;


        .items-per-page-dropdown {
            display: flex;
            align-items: center;
            margin-top: -14px;
        }

        .items-per-page-dropdown label {
            margin-right: 8px;
            font-weight: 600;
        }

        .items-per-page-dropdown select {
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            font-size: 1rem;

            cursor: pointer;
        }

        .items-per-page-dropdown select:focus {
            outline: none;
            border-color: #007bff;
        }

        .ngb-pagination {
            margin-bottom: 0;
        }

        .ngb-pagination .page-item.active .page-link {
            background-color: #007bff;
            border-color: #007bff;
        }

        .ngb-pagination .page-link {
            color: #007bff;
        }

        .ngb-pagination .page-link:hover {
            color: #0056b3;
        }
    }

    // pagination
    @media (max-width: 768px) {
        width: 1140px;
        display: flex;
        flex-direction: row;

        .mat-mdc-paginator {
            width: 46rem;
        }
    }

    @media (min-width: 769px) and (max-width: 1343px) {
        .downloadicon {
            font-size: 13px;
        }

        .Bulk {
            font-size: 11px;
        }

    }
}
// pagination
.table-responsive {
    overflow: hidden;
   }
   
   .totalCustomer {
     .totalCustomer-chip {
       p {
         margin-bottom: 0rem;
       }
       @media (max-width: 768px) {
         margin-bottom: 10px;
       }
     }
   }
   .table-responsive-wrapper {
     width: 100%;
     overflow-x: auto;
   }
   
   .table-responsive {
     display: table;
     width: 100%;
   }
   
   @media (max-width: 768px) {
     .table-responsive-wrapper {
       overflow-x: scroll; /* Enable horizontal scroll on smaller screens */
     }
   
     .table-responsive table {
       width: 100%; /* Ensure table takes full width */
       min-width: 600px; /* Set a minimum width to allow for scrolling */
     }
   }

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 110px;
    /* Adjust this width as needed */
}
// table head & row
table {
    th {
        font-weight: 500;
        background-color: #4099ff !important;
        color: white !important;
    }

    tr {
        // background-color: rgba(128, 128, 128, 0.0705882353) !important; 
        height: 34px;
    }
    tr:nth-child(odd) {
        background-color: rgba(192, 192, 192, 0.1) !important;
    }
}

// table head & row
.alert-success {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-radius: 0.25rem;

    font-weight: bold;
}

/* your-component.component.css */
.row-highlight {
    background-color: rgb(231, 182, 182);
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    padding: 0px 6px;
    border: 1px solid #c3e6cb;
}

.statusRedColor {
    color: red;
}

//------------------------search box-----------------

@media (max-width: 768px) {
    .mat-mdc-paginator {
        width: 38rem;
    }
}