<div class="row">
  <div class="col-md-6 col-xl-3" *ngFor="let card of cards">

    <app-card [hidHeader]="true" [cardClass]="card.background + ' order-card'">
      <div class="col-12 col-md-12 mainBox">
        <div class="col-md-4 col-4 mainBox-lt">
          <img [src]="card.icon" alt="Icon" class="card-icon"> <!-- Add class for styling -->
        </div>
        <div class="col-md-8 col-8 mainBox-rt">
          <h2 class="text-end ">
            <span class="card-number">{{ card.number }}</span>
            <h6 class="text-white">{{ card.title }}</h6>
          </h2>
        </div>
      </div>
      <!-- <p class="m-b-0">{{ card.text }}<span class="float-end">{{ card.no }}</span></p> -->
    </app-card>

  </div>
</div>

<div class="follow-Ups">
    <p class="follow-Ups-header">Users Expiring in 30 Days</p>
  </div>
  <!-- SEARCH -->
  <div class="search">
    <mat-form-field class="col-12 col-md-12">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
  </div>
  <!-- table -->
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z0">

     
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        S/N
        </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{(p - 1) * itemsPerPage + i + 1}} </td>
      </ng-container>

   
      <ng-container matColumnDef="end_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by end_date">
          End Date
        </th>
        <td mat-cell *matCellDef="let element"> {{element.end_date | date: 'dd/MM/yyyy' }} </td>
      </ng-container>

    
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by companyName">
          Company Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
      </ng-container>

      <ng-container matColumnDef="phoneNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phoneNo">
          Mobile No
        </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNo}} </td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by state">
          State
        </th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
      </ng-container>
     

      <ng-container matColumnDef="users_allowed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by  users_allowed">
          Users Allowed
        </th>
        <td mat-cell *matCellDef="let element" class="action">
          <div [ngClass]="{
            
            'alert alert-success': element.users_allowed,
       
          }" role="alert">
            {{element. users_allowed}}
          </div>


        </td>
      </ng-container>

      

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="row download-file">
      <div class="col-md-8 col-12 cont-pagination">
          <div class="items-per-page-dropdown">
              <label for="itemsPerPage">Companies Per Page:&nbsp;</label>
              <select id="itemsPerPage" [(ngModel)]="selectedItemsPerPage" (change)="onItemsPerPageChange()">
                  <option *ngFor="let option of itemsPerPageOptions" [value]="option">
                      {{ option }}
                  </option>
              </select>
          </div>
          <ngb-pagination [(page)]="p" [pageSize]="itemsPerPage" [collectionSize]="totalItems"
              (pageChange)="onPageChange($event)" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
      </div>
  </div>
  </div>
