@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.fa-angle-double-left{
    @media (max-width: 768px) {
        display: none;
    }
}

.radio-box {
    @include flex-row;
    margin-bottom: 17px;

    @media (max-width: 768px) {
        @include flex-row;
    }
}

.formContainer {
    @include flex-row;

    .maintain_stocks {}

    .ltSide {
        padding-right: 5px;

        @media (max-width: 768px) {
            padding: 0 !important;
        }

    }

    .RtSide {
        padding-left: 5px;

        @media (max-width: 768px) {
            padding: 0 !important;
        }
    }

    .maintain_stock {
        @include flex-row;

        .stock_header {
            font-size: 16px;
            font-weight: 500;
        }

        .checkbox {
            margin: -18px 0px 8px 5px !important;
        }
    }



    @media (max-width: 768px) {
        @include flex-column;
    }
}

.formContainer.maintain_stocks {
    border-bottom: 1px solid #00000026;
    margin-bottom: 31px;
}

.button-mainContainer {
    @include flex-row;

    .goBack-container {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .submit-container {
        display: flex;
        justify-content: center;
        padding-right: 10px;
    }

    .reset-container {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
    }
}

.modal-header {
    .close {
        .crossIcon {
            font-size: 20px;
        }
    }
}

.modal-body {
    max-height: 450px;
    overflow-y: auto;
    padding: 18px;
}
::ng-deep .mdc-notched-outline {
    height: 84% !important;
  }
  
  ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 55% !important;   padding-bottom: 5px;
    font-size: 14px !important;
  }
  
  ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 11px;
    padding-bottom: 0px;
    font-size: 14px !important;
  }
  
  ::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
    font-size: 14px !important;
  }
  
  .detail-row {
    background-color: #f5f5f5;
    /* Example color for expanded rows */
  }
  
  ::ng-deep mat-form-field {
    ::placeholder {
      font-size: 14px !important;
    }
  }

  ::ng-deep .mat-mdc-checkbox label {
    cursor: pointer;
    margin-top: 7px;
}