@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

.fa-angle-double-left {
    @media (max-width: 768px) {
        display: none;
    }
}

::ng-deep .mdc-notched-outline {
    height: 84% !important;
}

::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 55% !important;
    padding-bottom: 5px;
    font-size: 14px !important;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 11px;
    padding-bottom: 0px;
    font-size: 14px !important;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
    font-size: 14px !important;
}

.detail-row {
    background-color: #f5f5f5;
    /* Example color for expanded rows */
}

//  spinner
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

::ng-deep mat-form-field {
    ::placeholder {
        font-size: 14px !important;
    }
}


.radio-box {
    @include flex-row;
    margin-bottom: 17px;

    @media (max-width: 768px) {
        @include flex-row;
    }
}

.header-box {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 22px;
    z-index: 12;
    position: relative;
    padding-left: 27px;

    @media (max-width: 768px) {
        padding-left: 0px;
    }

    .header {
        display: flex;
        justify-content: flex-start;
    }

    .crossIconBox {
        display: flex;
        justify-content: flex-end;

        .crossIcon {
            cursor: pointer !important;
            color: black;
        }
    }
}

.formContainer {
    @include flex-row;

    .ltSide {
        padding-right: 5px;

        @media (max-width: 768px) {
            padding: 0 !important;
        }
    }

    .RtSide {
        padding-left: 5px;
        padding-right: 5px;

        @media (max-width: 768px) {
            padding: 0 !important;
        }
    }

    .rt-RtSide {
        padding-left: 5px;

        @media (max-width: 768px) {
            padding: 0 !important;
        }
    }

    @media (max-width: 768px) {
        @include flex-column;
    }
}

.button-mainContainer {
    @include flex-row;

    .goBack-container {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .submit-container {
        display: flex;
        justify-content: center;
        padding-right: 10px;
    }

    .reset-container {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
    }
}

.modal-header {
    .close {
        .crossIcon {
            font-size: 20px;
        }
    }
}

.modal-body {
    max-height: 450px;
    overflow-y: auto;
    padding: 18px;
}

.table {
    .additionalDetails-container {
        display: flex;
        flex-wrap: wrap;

        .report {
            padding: 0px 5px 0px 5px;
        }

    }

    .add-remove {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px 15px 0px;
        border-bottom: 1px solid;
        margin-bottom: 16px;


        .additionalDetails-label {
            padding-top: 10px;
        }
    }

    .buttons {
        display: flex;
        justify-content: flex-end;

        button {
            margin-right: 10px;
        }
    }

}