.approved-status {
  color: green;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

::ng-deep .mat-mdc-table mat-header-row.mat-mdc-header-row,
.mat-mdc-table mat-row.mat-mdc-row,
.mat-mdc-table mat-footer-row.mat-mdc-footer-cell {
  height: unset;
  // background-color: #80808021;
}

::ng-deep .mat-mdc-table mat-row {
  min-height: 34px;
}
/* Custom style for larger mat-badge */
.custom-badge .mat-badge-content {
  font-size: 20px; /* Adjust the font size */
  min-width: 30px; /* Adjust the width of the badge */
  height: 30px; /* Adjust the height of the badge */
  line-height: 30px; /* Ensure text is centered */
  border-radius: 50%; /* Keep the badge circular */
  background-color: #f44336; /* Custom background color if needed */
}

.custom-badge .mat-badge {
  // margin-right: 8px;
}
::ng-deep .mat-step-label {
  margin-top: 35px;
}
.NotDone {
  color: rgb(255, 0, 0);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
  /* Scale the icon */
  transform-origin: center;
  /* Scale from center */
  width: 1em;
  /* Set width for alignment purposes */
  height: 1em;
  /* Set height for alignment purposes */
  text-align: center;
  /* Center text horizontally within the flex container */
}

.text-center {
  display: flex;
  justify-content: center;
}

.doneAll {
  color: rgb(0, 128, 55) !important;
  /* Icon color */
  font-size: 24px;
  /* Base font size */
  display: flex;
  /* Use flexbox for alignment */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  transform: scale(1.5);
  /* Scale the icon */
  transform-origin: center;
  /* Scale from center */
  width: 1em;
  /* Set width for alignment purposes */
  height: 1em;
  /* Set height for alignment purposes */
  text-align: center;
  /* Center text horizontally within the flex container */
}

mat-row {
  background-color: #80808012 !important;
}

.text-centre {
  text-align: center;
  display: flex;
  justify-content: center;
}

.md-badge {
  position: absolute;
  right: 57px;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 768px) {
    position: absolute;
    right: 0px;
    top: 19%;
    left: 0%;
    transform: translate(-50%, -50%);
  }
}

::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
  display: none !important;
}

//------------------------search box-------------------
::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: #fff !important;
}

::ng-deep .mat-mdc-form-field-flex {
  height: 47px !important;
}

::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  cursor: inherit;
  font-size: 14px;
  padding: 0px 5px 5px 0px !important;
}

mat-form-field {
  width: 100%;
}

input,
textarea {
  font-size: 13px;
}

//------------------------search box-----------------
mat-table {
  border-collapse: collapse;
  width: 100%;

  .action {
    text-align: center;
  }

  .fa-plus {
    font-size: 20px;
    color: #007bffcc;
    cursor: pointer;
  }

  .matDetailIcon:hover {
    color: #3f51b5;
    cursor: pointer;
  }

  .matDetailIcon {
    padding-right: 5px;
  }

  .fa-trashMy {
    color: #00000078 !important;
  }

  .fa-pencil-square-o {
    font-size: 20px;
    color: #00000078;
    cursor: pointer;
  }

  .fa-trash {
    font-size: 20px;
    color: #00000078;
    cursor: pointer;
  }

  .editIcon,
  .deleteIcon,
  .addIcon {
    text-align: center;
  }

  .editIcon i:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  .deleteIcon i:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  mat-cell,
  mat-header-cell {
    // border: 0.5px solid #ddd;
    padding: 0px 4px 0px 4px;
    font-size: 12px;
    // height: 18px;
  }

  mat-header-cell {
    font-weight: 500;
    background-color: #4099ff !important;
    color: white !important;
  }

  mat-cell {
    width: auto;
  }

  .table-row-hover:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  .pending-status {
    color: red;
  }

  .mat-column-expand,
  .mat-column-id,
  .mat-column-edit,
  .mat-column-delete {
    flex: 0 0 5%;
    justify-content: center;
  }

  .mat-column-customerId {
    flex: 0 0 10%;
  }

  .mat-column-createdOn {
    flex: 0 0 10%;
  }

  .mat-column-contactNumber {
    flex: 0 0 10%;
  }

  .mat-column-productService {
    flex: 0 0 12%;
  }

  .mat-column-contactPerson {
    flex: 0 0 10%;
  }

  .mat-column-businessName {
    flex: 0 0 20%;
  }

  .mat-column-status {
    flex: 0 0 8%;
  }

  @mixin slideInOut {
    &.ng-trigger-slideInOut {
      transition: transform 0.3s ease-out;
      transform: translateX(0);
    }

    &.void.ng-trigger-slideInOut {
      transition: transform 0.3s ease-in;
      transform: translateX(100%);
    }
  }

  .slide-dialog {
    &.ng-trigger-slideInOut {
      @include slideInOut;
    }
  }

  @media (max-width: 768px) {
    .mat-table {
      width: 1150px;
      table-layout: fixed;
    }

    .mat-header-cell,
    .mat-cell {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .mat-column-expand {
      flex: 0 0 65px;
      justify-content: center;
    }

    .mat-column-id {
      flex: 0 0 65px;
    }

    .mat-column-customerId {
      flex: 0 0 120px;
    }

    .mat-column-productService {
      flex: 0 0 150px;
    }

    .mat-column-contactNumber {
      flex: 0 0 150px;
    }

    .mat-column-contactPerson {
      flex: 0 0 150px;
    }

    .mat-column-businessName {
      flex: 0 0 150px;
    }

    .mat-column-status {
      flex: 0 0 150px;
    }

    .mat-column-edit {
      flex: 0 0 65px;
      justify-content: center;
    }

    .mat-column-delete {
      flex: 0 0 65px;
      justify-content: center;
    }
  }

  .expanded-detail-rows {
    width: 100%;
    background-color: #f9f9f9;
    /* Example background color */
    padding: 7px;
    /* Example padding */
    box-sizing: border-box;

    .error-message {
      color: #ff0000;
      font-size: 14px;
      margin-top: -17px;
      float: right;
      margin-right: 86px;
    }
  }

  .alert-primary,
  .alert-warning,
  .alert-success {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-radius: 0.25rem;

    font-weight: bold;
  }

  .alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    padding: 0px 6px;
  }

  .alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    padding: 0px 6px;
  }

  .alert-success {
    color: #155724;
    background-color: #d4edda;
    padding: 0px 6px;
    border: 1px solid #c3e6cb;
  }
}

.fetch-data {
  display: flex;
  flex-direction: row;
}

.smallContainer {
  display: flex;
  margin: -30px 0px 17px 0px;
  justify-content: space-between;

  .opennewPopup {
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
  }
}
.table-responsive-wrapper {
  width: 100%;
  overflow-x: auto;
}

.table-responsive {
  display: table;
  width: 100%;
}

@media (max-width: 768px) {
  .table-responsive-wrapper {
    overflow-x: scroll; /* Enable horizontal scroll on smaller screens */
  }

  .table-responsive table {
    width: 100%; /* Ensure table takes full width */
    min-width: 600px; /* Set a minimum width to allow for scrolling */
  }
}
.table-responsive {
  width: 100%;
  // overflow-x: auto;

  overflow: hidden;

  .download-file {
    margin-top: 20px !important;
    display: flex;
    justify-content: flex-end;

    .cont-pagination {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 25px;

      .items-per-page-dropdown {
        display: flex;
        align-items: center;
        margin-top: -14px;
      }

      .items-per-page-dropdown label {
        margin-right: 8px;
        font-weight: 600;
      }

      .items-per-page-dropdown select {
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 1rem;

        cursor: pointer;
      }

      .items-per-page-dropdown select:focus {
        outline: none;
        border-color: #007bff;
      }

      .ngb-pagination {
        margin-bottom: 0;
      }

      .ngb-pagination .page-item.active .page-link {
        background-color: #007bff;
        border-color: #007bff;
      }

      .ngb-pagination .page-link {
        color: #007bff;
      }

      .ngb-pagination .page-link:hover {
        color: #0056b3;
      }
    }

    // pagination
    @media (max-width: 768px) {
      width: 1140px;
      display: flex;
      flex-direction: row;

      .mat-mdc-paginator {
        width: 46rem;
      }
    }

    @media (min-width: 769px) and (max-width: 1343px) {
      .downloadicon {
        font-size: 13px;
      }

      .Bulk {
        font-size: 11px;
      }
    }
  }

  @media (max-width: 768px) {
    .mat-mdc-table mat-header-row.mat-mdc-header-row,
    .mat-mdc-table mat-row.mat-mdc-row,
    .mat-mdc-table mat-footer-row.mat-mdc-footer-cell {
      width: 1150px;
    }
  }
}

mat-table {
  .fa-plusColor {
    color: #00000078 !important;
    font-size: 16px;
    cursor: pointer;
  }

  .deleteIcon i:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  .detail-rows {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100% !important;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;

    @media (max-width: 768px) {
      // flex-direction: column;
    }

    .date {
      margin: 0px 3px;
    }

    .display-value {
      padding: 5px 0px 0px 5px;
      margin: -6px 3px;
    }
  }

  .submit-btn {
    margin: 10px 0px 0px 0px !important;
  }
}

.matAddIcon {
  font-size: 24px !important;
}

// stepper
.example-stepper {
  margin-top: 8px;

  @media (max-width: 768px) {
    display: none;
  }
}

.mat-mdc-form-field {
  // margin-top: 16px;
}

.mdc-text-field {
  padding: 0px;
}

::ng-deep .mat-step-header {
  border-radius: 10px;
}

.mat-mdc-option .mdc-list-item__primary-text,
.ng-star-inserted {
  font-size: 12px !important;
}

::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  font-size: 12px !important;
}

::ng-deep .mat-mdc-option.mdc-list-item {
  align-items: center;
  margin: -9px 0px;
}
